html, body {
    max-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: scroll;
    background: grey;
    position: relative;
}

.navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 150px;
    padding-top: 10px;
    background-color: #fefefe;
    border-right: 1px solid #eee;
    font-size: 0.836em;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList__item {
    padding: 1em;
}

.navList__item>a,
.navList__item>a:focus,
.navList__item>a:active,
.navList__item>a:hover {
    text-decoration: none;
    color: #333;
}

.navList__item>a:hover {
}

.content {
    min-height: 100%;
    padding-left: 150px;
    background: white;
}

.header {
    background: darkgrey url(http://placekitten.com/g/1920/768) center no-repeat;
    background-size: cover;
    min-height: 300px;
    position: relative;
    font-size: 52px;
    overflow: hidden;
}

.header h1 {
    position: absolute;
    top: 50%;
    display: block;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    margin: -0.5em 0 0 0;
    text-shadow: 0 0 10px rgba(0,0,0, .7);
    font-size: 100%;
    white-space: nowrap;
}

.todo__wrapper {
    width: 60%;
    margin: 2em auto;
}

.todo__container {
    overflow: hidden;
    width: 100%;
    font-size:  26px;
    border: 1px solid #ccc;
    border-radius: .4em;
}

.createTodo__container {
    width: 100%;
    margin: 0;
    background:  transparent;
}

.createTodo__input {
    width: 100%;
    font-size:  26px;
    padding: .4em .4em .4em 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    background-color: #fefefe;
    color: #222;
}

.createTodo__input:focus {
    outline: none;
}
    .createTodo__input::-webkit-input-placeholder { /* WebKit browsers */
        color: #999;
    }
    .createTodo__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #999;
        opacity: 1;
    }
    .createTodo__input:-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #999;
        opacity: 1;
    }
    .createTodo__input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #999;
    }
    .createTodo__input:focus::-webkit-input-placeholder { /* WebKit browsers */
        color: #ccc;
    }
    .createTodo__input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #ccc;
        opacity: 1;
    }
    .createTodo__input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #ccc;
        opacity: 1;
    }
    .createTodo__input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #ccc;
    }

.todoList {
    list-style: none;
    padding: 0;
    margin:  0;
}

.todoList__item {
    padding: .4em 58px .4em 1.5em;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.todoList__itemToggle {
    position: absolute;
    top: 1.7em;
    left: 1.2em;
}

.todoList__itemClose {
    position: absolute;
    width: 1em;
    height: 1em;
    right: 0.6em;
    top: 0.6em;
    cursor: pointer;
}
    .todoList__itemClose:before {
        content: '×';
        display: block;
        color: #ccc;
        margin-top: -0.3em;
        margin-left: 0.3em;
    }
    .todoList__itemClose:hover:before {
        color: #444;
    }

.todo__restartButton {
    display: block;
    border: none;
    background: transparent;
    font-size: 20px;
    height: 40px;
    color: #444;
    background-color: #fefefe;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    outline: none;
}

.todo__restartButton:hover {
    color: #222;
    background-color: #fbfbfb;
}

@media (max-width: 690px) {
    .navigation {
        position: static;
        width: auto;
    }

    .navList__item {
        display: inline-block;
    }

    .content {
        padding-left: 0;
    }
}

